.topo {
  min-height: 62px;
  background-color: #ffffff;
  display: block;
  border-bottom: 1px solid #fafafa;
  box-shadow: 0px 1px 4px #515172;
}
.topo .logotipo {
  margin: 15px 0 0 0;
}
.topo .menu-principal {
  margin: 15px 0 0 20px;
  font-size: 13px;
  font-size: 0.8125em;
}
.topo #buscar,
.topo #login {
  margin: 15px 5px 0 0;
}
.topo #buscar button,
.topo #login button {
  width: 70px;
}
.content {
  font-family: 'Helvetica Neue', sans-serif;
  font-weight: 400;
  height: 100%;
}
.content .player-video .stage-base {
  position: relative;
}
.content .player-video .stage-base .stage,
.content .player-video .stage-base .info {
  position: relative;
}
.content .player-video .stage-base .stage {
  background: #dcdce6;
  padding: 55px 0 45px 0;
}
.content .player-video .stage-base .stage .video {
  padding: 0 !important;
  border: solid 2px #ffffff;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  background: #000000;
  height: 450px;
}
.content .player-video .info {
  margin-top: -45px;
  width: 100%;
}
.content .player-video .info .info-base {
  background: #ffffff;
  height: 100%;
}
.content .player-video .info .info-base .txt,
.content .player-video .info .info-base .extras {
  min-height: 50px;
}
.content .player-video .info .info-base .txt {
  padding: 10px 30px 70px;
}
.content .player-video .info .info-base .txt .title h1,
.content .player-video .info .info-base .txt .title h2 {
  margin: 0px;
  padding: 2px 0px;
  font-weight: bolder;
  font-family: 'Open Sans Condensed', sans-serif, Helvetica, arial, freesans, clean, sans-serif;
}
.content .player-video .info .info-base .txt .title h1 {
  padding-top: 15px;
  color: #26323e;
  font-size: 28px;
  font-size: 1.75em;
}
.content .player-video .info .info-base .txt .title h2 {
  color: #ff0000;
  font-size: 20px;
  font-size: 1.25em;
}
.content .player-video .info .info-base .txt p {
  padding-top: 20px;
}
